.conteiner {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.conteiner header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 20px;
  padding: 32px;
  border-bottom: 1px solid #B4AEAE;
}
.conteiner header img {
  display: flex;
  align-self: center;
  width: 245px;
  height: auto;
}
.conteiner header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  justify-content: space-between;
}
.conteiner header ul {
  display: flex;
  justify-content: space-around;
  gap: 33px;
}
.conteiner header ul li {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.conteiner header ul li p {
  color: #4B5563;
  cursor: pointer;
}
.conteiner header button {
  width: 189px;
  height: 60px;
  color: #fff;
  background-color: #21C05C;
  border: 1px solid #21C05C;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.conteiner main {
  display: flex;
  flex-direction: column;
}
.conteiner main .mainSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 120px;
}
.conteiner main .mainSection .introDiv {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.conteiner main .mainSection .introDiv h1 {
  font-weight: 700;
  font-style: bold;
  font-size: 60px;
}
.conteiner main .mainSection .introDiv .btnDiv {
  display: flex;
  gap: 30px;
}
.conteiner main .mainSection .introDiv .btnDonor, .conteiner main .mainSection .introDiv .btnAdquired {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 60px;
  gap: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.conteiner main .mainSection .introDiv .btnDonor img, .conteiner main .mainSection .introDiv .btnAdquired img {
  width: 24px;
  height: 24px;
}
.conteiner main .mainSection .introDiv .btnDonor {
  color: #fff;
  background-color: #21C05C;
  border: 1px solid #21C05C;
}
.conteiner main .mainSection .introDiv .btnAdquired {
  color: #2563EB;
  background-color: transparent;
  border: 1px solid #2563EB;
}
.conteiner main .mainSection .bigLogoDiv img {
  width: 100%;
}
.conteiner main .statsSection {
  background-color: #F3F5F8;
  margin-top: 128px;
  height: 184px;
}
.conteiner main .statsSection ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: 48px;
}
.conteiner main .statsSection ul li {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.conteiner main .statsSection ul li h2 {
  font-weight: 700;
  font-size: 40px;
  color: #16A34A;
}
.conteiner main .statsSection ul li p {
  color: #4B5563;
}
.conteiner main .infoSection {
  display: flex;
  flex-direction: column;
  padding: 75px;
}
.conteiner main .infoSection .howWorkDiv {
  margin-bottom: 60px;
}
.conteiner main .infoSection .howWorkDiv h3 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 16px;
}
.conteiner main .infoSection .howWorkDiv p {
  font-size: 25px;
}
.conteiner main .infoSection .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.conteiner main .infoSection .cards p {
  color: #4B5563;
  margin-bottom: 14px;
}
.conteiner main .infoSection .cards h4 {
  font-weight: 700;
  font-size: 16px;
}
.conteiner main .infoSection .cards .infoCard {
  box-sizing: border-box;
  background-color: #F3F5F8;
  padding: 32px;
  border-radius: 12px;
  width: 430px;
  min-width: 320px;
}
.conteiner main .infoSection .cards .infoCard .donorCardTitle, .conteiner main .infoSection .cards .infoCard .adquiredCardTitle {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 28px;
  height: 130px;
}
.conteiner main .infoSection .cards .infoCard .donorCardTitle p, .conteiner main .infoSection .cards .infoCard .adquiredCardTitle p {
  margin-top: 14px;
}
.conteiner main .infoSection .cards .infoCard .donorCardTitle div, .conteiner main .infoSection .cards .infoCard .adquiredCardTitle div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.conteiner main .infoSection .cards .infoCard .donorCardTitle {
  color: #16A34A;
}
.conteiner main .infoSection .cards .infoCard .adquiredCardTitle {
  color: #2563EB;
}
.conteiner main .infoSection .cards li {
  display: flex;
  gap: 12px;
  height: 90px;
}
.conteiner main .infoSection .cards li img {
  width: 32px;
  height: 32px;
}
.conteiner main .productSection {
  padding: 75px;
  background-color: #F3F5F8;
}
.conteiner main .productSection .productTitle h3 {
  font-weight: 700;
  font-size: 40px;
  color: #1F2937;
  margin-bottom: 17px;
}
.conteiner main .productSection .productTitle p {
  font-size: 25px;
}
.conteiner main .productSection ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 75px;
}
.conteiner main .productSection ul li {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 300px;
  height: 400px;
  text-align: center;
  justify-content: space-between;
  border: 2px solid #16A34A;
  border-radius: 8px;
}
.conteiner main .productSection ul li img {
  width: 100%;
  height: 55%;
}
.conteiner main .productSection ul li p {
  margin: 0 20px;
  color: #4B5563;
}
.conteiner main .productSection ul li button {
  align-self: center;
  margin-bottom: 26px;
  width: 150px;
  height: 37px;
  background-color: #16A34A;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 910px) {
  .conteiner header {
    flex-direction: column;
    align-items: flex-start;
  }
  .conteiner header nav {
    width: 100%;
    align-items: center;
  }
  .conteiner header img {
    align-self: flex-start;
  }
  .conteiner header ul {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  .conteiner .mainSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .conteiner .mainSection .introDiv {
    width: 90%;
  }
  .conteiner .mainSection .introDiv h1 {
    font-size: 40px !important;
  }
  .conteiner .mainSection .btnDiv {
    justify-content: center;
  }
  .conteiner .infoSection {
    padding: 16px !important;
  }
  .conteiner .howWorkDiv {
    text-align: center;
    margin-bottom: 28px !important;
  }
  .conteiner .productSection {
    padding: 32px 16px !important;
    text-align: center;
  }
  .conteiner .productSection ul {
    padding: 0 !important;
  }
  .conteiner .productSection ul li {
    margin-top: 30px;
  }
}/*# sourceMappingURL=styles.css.map */